.SignIn__section{
    background-color: black;
}

.SignIn__nav {
    width: 100%;
    padding: 2rem 2rem;
    background-color: black;
}

.SignIn__nav img {
    width: 8rem;
}
.SignIn__form{
    width: 100%;
    padding: 2rem;
    padding-bottom: 6rem;
}
.SignIn__footer{
    border-top: 2px solid var(--lighter-grey);
    background-color: black;
    padding: 3rem 2rem;
}


@media screen and (min-width: 601px) {
    .SignIn__section {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/images/netflix_banner.jpg');
        background-position: center;
    }

    .SignIn__nav {
        padding: 2rem 4rem;
        background-color: transparent;
    }

    .SignIn__nav img {
        width: 10rem;
    }
    .SignIn__form{
        width: 450px;
        height: 90vh;
        padding: 4rem;
        background-color: rgba(0, 0, 0, 0.8);
        margin: auto;
        margin-bottom: 6rem;
    }
    .SignIn__footer{
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2rem 15%;
        border: none;
    }
}