.footer__section{
    margin-top: 0.5rem;
    background-color: black;
    color: var(--lighter-grey);
    padding: 4rem 20%;
    font-weight: 400;
}
.footer__links{
    display: grid;
    font-size: 0.9rem;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    margin-top: 2rem;
}
.footer__section a{
    color: var(--lighter-grey);

}
.footer__section a:hover{
    text-decoration: underline;
}
@media screen and (min-width:500px) {
    .footer__links{

        grid-template-columns: repeat(4, 1fr);
    }
    
}