.banner__section{
    width: 100%;
    height: 95vh;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../public/images/netflix_banner.jpg');
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 10rem;
}
.sign__in{
    padding:0.25rem 1rem;
    color: white;
    background-color: var(--light-red);
    border-radius: .25rem;
}
.tabs{
    display: flex;
    gap: 1rem;
}
.lang{
    color: white;
    padding: 0.25rem 1rem;
    border: 2px solid white;

}
.hero__container{
    width: 40%;
    min-width: 20rem;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 9rem;
}
.hero__title{
    font-size: 3.5rem;
}
.hero__subtitle{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
p{
    font-size: 0.9rem;
}
.email__form{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    margin-top: 2rem;
}
.email__form input{
    border:none;
    color: #000000;
    height: 3rem;
    padding: 0rem 1rem;
    font-size: 0.9rem;
}
.email__form button{
    border: none;
    background-color: var(--light-red);
    color: white;
    font-size: 1rem;
}
.email__form input:focus{
    outline: none;
}