*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-red: #E50914;
    --light-grey: #303030;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    background-color: var(--light-grey);
}
button{
    cursor: pointer;
}