.SignIn__section{
    background-color: black;
}

.SignIn__nav {
    width: 100%;
    padding: 2rem 2rem;
    background-color: black;
}

.SignIn__nav img {
    width: 8rem;
}
.SignIn__form{
    width: 100%;
    padding: 4rem;
}

@media screen and (min-width: 501px) {
    .SignIn__section {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/netflix_banner.jpg');
        background-position: center;
    }

    .SignIn__nav {
        padding: 2rem 4rem;
        background-color: transparent;
    }

    .SignIn__nav img {
        width: 10rem;
    }
    .SignIn__form{
        width: 500px;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.8);
        margin: auto;
    }
}