body {
    width: 100%;
    background: black;
    min-height: 100vh;
}

.SignIn__nav {
    width: 100%;
    padding: 2rem 4rem;
}

.SignIn__nav img {
    width: 8rem;
}

@media screen and (min-width: 500px) {
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/netflix_banner.jpg');
        background-position: center;
    }

    .SignIn__nav {
        width: 100%;
        padding: 2rem 2rem;
    }

    .SignIn__nav img {
        width: 10rem;
    }
}